{% extends "base.html" %}
{% block content %}
<div class="container">
    <br><br>
    <h3>Total results:  {{ posts|length }}</h3><br>
    {% if posts|length > 0 %}
        {% for post in posts %}
            {% if post.hide == False %}
                <div class="media">
                    <img class="align-self-start mr-3" src={{ post.image }}>
                <div class="media-body">
                    <h4 class="mt-0"><a href={{ post.url }}>{{ post.title }}</h4>
                    {% if post.star == true %}
                        <div class="post_buttons">
                            <a href="/flags/star/False/{{ post._id }}/all_posts.html" class="btn btn-success btn-lg" role="button" aria-pressed="true">Un-star</a>
                        </div>
                    {% else %}
                        <div class="post_buttons">
                            <a href="/flags/star/True/{{ post._id }}/all_posts.html" class="btn btn-success btn-lg" role="button" aria-pressed="true">Star</a>
                        </div>
                    {% endif %}
                    <div class="post_buttons">
                        <a href="/flags/hide/True/{{ post._id }}/all_posts.html" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Hide</a>
                    </div>
                    <h5><b>Price:</b> {{ post.prices[0] }}</h5>
                    {% if post.prices|length > 1 %}
                        <p><b>Price history:</b>
                        {% for price in post.prices[1:] %}
                            {{ price }}</p>
                        {% endfor %}
                    {% endif %}
                    <b>Location:</b> {{ post.location }}<br>
                    <b>For sale by:</b> {{ post.seller }}<br>
                    <b>Mileage:</b> {{ post.kms }}<br>
                    <b>Date Posted:</b> {{ post.date_posted }}<br>
                    <b>Transmission:</b> {{ post.transmission }}<br>
                    <br><br>
                    <hr>
                </div>
                </div>
            {% endif %}
        <!-- <hr> = horizontal rule, basically a line between blogs -->
        {% endfor %}
        <h5>Hidden:</h5>
        {% for post in posts %}
            {% if post.hide == True %}
                <div class="post_buttons">
                    <a href="/flags/hide/False/{{ post._id }}/all_posts.html" class="btn btn-danger btn-sm active" role="button" aria-pressed="true">Show</a>
                </div>
                <p><a href={{ post.url }}>{{ post.title }} - {{ post.prices[0] }} - {{ post.kms }} - {{ post.transmission }}</p>
                <hr>
            {% endif %}
        {% endfor %}
    {% else %}
        <h3 class="no_posts">This pull has no results!</h3>
    {% endif %}
<!-- ('/<string:variable>/<string:flag>/<string:post_id>/<string:template>') -->
</div>
{% endblock %}
