{% extends "base_nonav.html" %}
{% block content %}
<body>
<div class="container page-form">
    <div class="heading">
        <h2>Kijiji Autos Web Scrapper</h2>
    </div>
    <div class="form-button">
        <button type="submit" id="submit-button" class="btn btn-outline-light btn-lg btn-block" onclick="window.location.href='/login'" >Login</button>
        <button type="submit" id="submit-button" class="btn btn-outline-light btn-lg btn-block" onclick="window.location.href='/register'" >Register</button>
    </div>
    </div>
</body>
</html>
{% endblock %}